@model BlogWebUI.Models.tblKullanici
@{
    ViewBag.Title = "KullaniciEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript">
    CKEDITOR.replace('editor')
</script>

<div class="container-fluid">
    <h3><i>Kullanıcı Ekle</i></h3>
    <hr />

    @using (Html.BeginForm("KullaniciEkle", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken();


        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <label>Ad ve Soyad</label>
                    @Html.TextBoxFor(x => x.kullaniciAdSoyad, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Şifre Oluştur</label>
                    @Html.TextBoxFor(x => x.kullaniciSifreHash, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Yetki</label>
                    @Html.DropDownList("kullaniciAdminId", null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Email</label>
                    @Html.TextBoxFor(x => x.kullaniciEmail, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Telefon No</label>
                    @Html.TextBoxFor(x => x.kullaniciTelNo, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>Instagram</label>
                    @Html.TextBoxFor(x => x.kullaniciInstagram, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Twitter</label>
                    @Html.TextBoxFor(x => x.kullaniciTwitter, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>GitHub</label>
                    @Html.TextBoxFor(x => x.kullaniciGitHub, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Linkedin</label>
                    @Html.TextBoxFor(x => x.kullaniciLinkedin, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Kayıt Tarihi</label>
                    @Html.TextBoxFor(x => x.kullaniciKayitOlmaTarihi, new { @class = "form-control date-picker" })
                </div>
                <button class="btn btn-primary">Ekle</button>
            </div>
        </div>







    }

</div>


