@using BlogWebUI.Models
@using PagedList
@using PagedList.Mvc
@model PagedList<tblKullanici>
@{
    ViewBag.Title = "Kullanicilar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h3><i>Kullanıcılar Listesi</i></h3>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Ad ve Soyad</th>
                <th scope="col">Yetki</th>
                <th scope="col">Şifre</th>
                <th scope="col">Telefon No</th>
                <th scope="col">Email</th>
                <th scope="col">Kayıt Tarih</th>
                <th scope="col">Sil</th>
                <th scope="col">Düzenle</th>
               

            </tr>
        </thead>
        @foreach (var k in Model)
        {
            <tbody>
                <tr>
                    <td scope="row">@k.kullaniciId</td>
                    <td scope="row">@k.kullaniciAdSoyad</td>
                    <td scope="row">@k.tblAdminRol.adminRolBaslik</td>
                    <td scope="row">@Html.Raw(k.kullaniciSifreHash)</td>
                    <td scope="row">@k.kullaniciTelNo</td>
                    <td scope="row">@k.kullaniciEmail</td>
                    <td scope="row">@k.kullaniciKayitOlmaTarihi</td>
                    <td>@Html.ActionLink("Sil", "KullaniciSil", new { id = k.kullaniciId }, new { @class = "badge badge-danger", onclick = "return confirm('UYARI !!! Kullanıcı Profili Silmek İstediğinize Emin Misiniz?')" })</td>
                    <td><a href="/admin/kullaniciduzenle/@k.kullaniciId" class="badge badge-success">Düzenle</a></td>

                    @*<td>@Html.ActionLink("Kategori Sil", "KategoriSil", new { id = k.tblKategoriId }, new { @class = "badge badge-danger", onclick = "return confirm('UYARI !!! Kategori Silmek İstediğinize Emin Misiniz?')" })</td>
                        <td><a href="/admin/kategoriduzenle/@k.tblKategoriId" class="badge badge-success">Kategori Düzenle</a></td>*@
                </tr>
            </tbody>
        }

    </table>
    <nav aria-label="style">
        <ul class="pagination pagination-sm">
            @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Kullanicilar", new { sayfa }))
        </ul>
    </nav>
</div>

